:root {
    --text-color: #111517;
    --bg-color: #fff;
}

html {
    height: 100%;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

*:focus {
    outline: 3px dashed var(--text-color);
    outline-offset: 3px;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: var(--body-bg-color);
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: var(--text-color);
}

.container {
    width: 100%;
    max-width: 1240px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    display: inline-block;
    text-decoration: none;
}

.main-title {
    text-align: center;
    margin-bottom: 40px;
}

#table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#table td, #table th {
    border: 1px solid #ddd;
    padding: 8px;
}

/* Toq qatorlarga still berish */
#table tr:nth-child(even){background-color: #f2f2f2;}

/* Hover stil */
#table tr:hover {background-color: #ddd;}

thead {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
}

caption {
    margin-bottom: 30px;
    font-weight: 600;
    font-size: 24px;
}


table{
    border-collapse: collapse;
    border: 1px solid black;
    width: 100%;
    font-family: cursive;
    margin-top: 60px;
}
td,th{
    border: 2px solid black;
    padding: 50px;
}
.orta{
padding-left: 190px;
}
.core{
    background-color: #04AA6D;
    color: #fff;
}
.com{ 
    background-color: #04AA6D;
    color: #fff;
}
tbody tr:nth-child(even){
   background-color: grey;
}